.text_area_container {
    width: 100%;
    font-size: 20px;
}

.text_container {
    background-color: black;
    border-radius: 12px;
    width: 95%;
    height: 300px;
    margin: 2rem auto;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem 1.2rem;
}

.line_number {
    height: calc(100% - 20px);
    width: 5%;
    color: rgb(159, 157, 157);
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    overflow-y: auto;

    &::-webkit-scrollbar {
       display: none;
    }
}

textarea {
    height: calc(100% - 20px);
    border:none;
    outline: none;
    border-left: 2px solid rgb(159, 157, 157);
    background-color: transparent;
    width: 95%;
    padding: 0 5px;
    color: whitesmoke;
    resize: none !important;
    overflow-y: scroll; 
    font-size: 21px;
}

textarea::-webkit-scrollbar {
   display: none;
}